body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* nagłówek */

.header-container {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}

.head-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-site {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 0;
}

.dark-logo {
  color: #2e2f42;
}

.list-nav {
  display: none;
}

.link {
  color: #2e2f42;
  font-weight: 500;
  text-decoration: none;
  font-style: normal;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.other {
  position: relative;
  color: #404bbf;
}

.other::after {
  content: '';
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.link.other.hamburger {
  color: #404bbf;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.contact {
  color: #434455;
  font-style: normal;
  text-decoration-style: none;
}

.list-address {
  display: none;
  line-height: 1.15;
}

.link-address {
  color: #434455;
  font-style: normal;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.link-address:hover,
.link-address:focus,
.link-address:active {
  color: #404bbf;
}

.button-ham-icon {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.icon-ham {
  fill: #2f2f37;
  cursor: pointer;
}

/* mobile-menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  padding-top: 72px;
  padding-left: 16px;
  padding-bottom: 40px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
}

.link.hamburger {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding: 0;
}

.top-navi-mobile.hamburger {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 40px;
}

.bottom-navi-mobile.hamburger {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
}

.foot-ham.hamburger {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 48px;
}

.link-address.hamburger {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-menu.is-open-mobile {
  transform: translateX(0);
}

/* sekcja pierwsza */

.main-one {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/h1background-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 72px 0;
  margin: 0 auto;
  max-width: 320px;
  width: 100%;
  background-size: cover;
  text-align: center;
}

.first-round {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.clicker {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
}

.back-button:hover,
.back-button:focus,
.back-button:active {
  background-color: #404bbf;
}

/* sekcja druga */

.main-two {
  padding: 96px 0;
}

.second-round {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.second-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.second-list-container {
  width: 100%;
  gap: 72px;
}

.icons-container {
  display: none;
}

.second-nav {
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.second-text {
  font-weight: 500;
}

/* sekcja trzecia */

.main-three {
  padding: 96px 0;
  background-color: #f4f4fd;
}

.third-round {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
}

.team-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  text-align: center;
}

.team-nav-container {
  padding: 32px 0;
}

.team-nav {
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-logo {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
  background-color: #404bbf;
}

.social-logo-svg {
  fill: #f4f4fd;
}

.team-description {
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

/* sekcja czwarta */

.main-four {
  padding: 96px 0;
}

.fourth-round {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.fourth-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0 auto;
}

.fourth-round-list {
  width: 100%;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.transition-list {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden-four {
  position: relative;
  overflow: hidden;
}

.hidden-text {
  color: #f4f4fd;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  padding: 40px 32px;
  position: absolute;
  top: 0;
}

.hidden-four:focus .hidden-text,
.hidden-four:hover .hidden-text {
  transform: translateY(0%);
}

.app-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-nav {
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  color: #434455;
}

/* stopka */

.page-end {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-container {
  flex-direction: column;
  align-items: center;
  display: flex;
}

@media (max-width: 767px) {
  .footer-container {
    gap: 72px;
  }
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

.foot {
  line-height: 24px;
  color: #f4f4fd;
  max-width: 264px;
  height: 72px;
}

.text-footer-socials {
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-socials {
  display: flex;
  gap: 16px;
  justify-content: space-evenly;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
}

.foot-hov:hover,
.foot-hov:focus {
  background-color: #31d0aa;
}

.subscribe {
  margin: 0;
}

.sub-title {
  font-weight: 500;
  color: white;
  margin-bottom: 16px;
  display: block;
  text-align: center;
}

.sub-form {
  gap: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.sub-input-email {
  width: 264px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  padding-left: 16px;
  line-height: 2;
  opacity: 0.3;
}

.sub-button {
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  font-weight: 500;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: white;
  border: none;
  justify-content: center;
  line-height: 1.5;
  margin: 0 auto;
}

.sub-icon {
  margin-left: 16px;
  fill: white;
}

/* Modal */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  padding: 72px 16px 24px 16px;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  fill: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:active,
.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-title {
  text-align: center;
  color: #2e2f42;
  font-weight: 500;
  margin-bottom: 16px;
}

.form-modal {
  display: flex;
  flex-direction: column;
}

.form-title {
  margin-bottom: 8px;
}

.form-title:focus-within .form-icon {
  fill: #4d5ae5;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  padding: 0;
  display: block;
  margin-bottom: 4px;
}

.form-div-text {
  width: 100%;
  height: 40px;
  position: relative;
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text {
  width: 100%;
  height: 40px;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.form-text:focus {
  border-color: #4d5ae5;
}

.comment-modal {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  text-align: start;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-modal:focus-within {
  border-color: #4d5ae5;
}

.comment-modal::placeholder {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-end {
  margin-bottom: 16px;
}

.modal-terms {
  margin-bottom: 24px;
  display: flex;
}

.form-label-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  padding: 0;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-terms {
  cursor: pointer;
}

.check-terms:checked + .form-label-privacy span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.link-privacy {
  color: #4d5ae5;
  text-decoration: underline;
}

.send-button {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-resolution: 192dpi) {
  .main-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/h1background-mobile-2x.jpg);
  }
}

/* responsywne style */

/* tablet */

@media (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    column-gap: 24px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .list-address,
  .bottom-navi-mobile {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: flex-end;
  }

  .list-nav,
  .top-navi-mobile {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    gap: 40px;
  }

  .other {
    position: relative;
    color: #404bbf;
  }

  .other::after {
    content: '';
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .logo {
    margin-right: 120px;
  }

  .mobile-menu,
  .button-ham-icon {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .main-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/h1background-tablet.jpg);
    max-width: 768px;
    padding: 112px 0;
  }

  .first-round {
    font-size: 56px;
    max-width: 496px;
  }

  .main-two {
    padding: 96px 0;
  }

  .second-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .second-list-container {
    width: calc((100% - 24px) / 2);
    gap: 72px;
  }

  .second-nav.mobile-size {
    font-size: 36px;
    font-weight: 700;
    text-align: left;
  }

  .team-list-container {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    column-gap: 24px;
    row-gap: 64px;
  }

  .main-four {
    padding: 96px 0;
  }

  .fourth-list {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    column-gap: 24px;
    row-gap: 72px;
  }

  .fourth-round-list {
    width: calc((100% - 24px) / 2);
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 72px;
    align-items: baseline;
    max-width: 530px;
  }

  .footer-logo {
    display: block;
    margin-right: 0;
    text-align: left;
  }

  .foot {
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .text-footer-socials {
    text-align: left;
  }

  .sub-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .sub-title {
    text-align: left;
  }

  .sub-input-email::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    opacity: 0.6;
    letter-spacing: 0.04em;
  }

  /* modal tablet */

  .modal {
    width: 408px;
    min-height: 584px;
  }
}

@media (min-width: 768px) and (min-resolution: 192dpi) {
  .main-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/h1background-tablet-2x.jpg);
  }
}

/* desktop */

@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .logo,
  .footer-logo {
    padding: 0;
    margin-right: 76px;
  }

  .list-nav,
  .top-navi-mobile,
  .list-address,
  .bottom-navi-mobile {
    flex-direction: row;
  }

  .button-ham-icon {
    display: none;
  }

  .list-address,
  .bottom-navi-mobile {
    gap: 40px;
    padding: 24px 0;
    margin-right: 0;
    justify-content: flex-end;
  }

  .link-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .main-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/h1background-desktop.jpg);
    max-width: 1440px;
    padding: 188px 0;
  }

  .main-two {
    padding: 120px 0;
  }

  .second-list-container {
    width: calc((100% - 72px) / 4);
  }

  .icons-container {
    display: block;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icons-main-two {
    position: absolute;
    top: 24px;
    left: 100px;
  }

  .second-nav.desktop-size,
  .team-nav,
  .portfolio-nav {
    font-size: 20px;
    font-weight: 500;
  }

  .second-text {
    font-weight: inherit;
  }

  .main-three {
    padding: 120px 0;
  }

  .fourth-list {
    column-gap: 24px;
    row-gap: 48px;
  }

  .fourth-round-list {
    width: calc((100% - 48px) / 3);
  }

  .page-end {
    height: 312px;
    padding: 100px 0;
  }

  .footer-container {
    flex-wrap: nowrap;
  }

  .footer-logo-container {
    margin-right: 120px;
  }

  .footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    text-align: left;
  }

  .foot {
    width: 264px;
  }

  .subscribe {
    margin-left: auto;
  }

  .sub-input-email {
    opacity: 1;
  }

  .sub-input-email::placeholder {
    color: white;
    opacity: 1;
  }

  /* desktop modal */

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

@media (min-width: 1158px) and (min-resolution: 192dpi) {
  .main-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/h1background-desktop-2x.jpg);
  }
}
