
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

/* nagłówek */

header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    padding: 24px 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.head-div {
    display: flex;
    justify-content: space-between;
}

.nav-site {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.logo:first-child {
    margin-right: 76px;
}

.dark-logo {
    color: #2e2f42;
}

.list-nav {
    font-weight: 500;
    color: #2e2f42;
    display: flex;
    gap: 40px;
}

.link {
    text-align: center;
    padding: 24px 0;
    color: #2e2f42;
}

.other {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404bbf;
}

.other::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.link:hover,
.link:focus {
    color: #404BBF;
}

.contact {
    color: #434455;
    font-style: normal;
    text-decoration-style: none;
}

.list-address {
    display: flex;
    gap: 40px;
}

.link-address {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-address:hover,
.link-address:focus {
    color: #404bbf;
}

/* sekcja pierwsza */

.main-one {
    background-color: #2e2f42;
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), 
    url(../images/h1background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 188px 0;
    margin: auto;
    max-width: 1440px;
    width: 100%;
    background-size: cover;
}


.first-round {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 48px;
}

.clicker {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
}

button:hover,
button:focus {
    background-color: #404BBF;
}

/* sekcja druga */

.main-two {
    padding: 120px 0;
}

.second-round {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.second-list {
    display: flex;
    gap: 24px;
}

.second-list-container {
    width: calc((100% - 72px) /4);
}

.icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
}

.second-nav {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
    margin-bottom: 8px;
}

.second-text {
    font-size: 16px;
    line-height: 1.5;
}

/* sekcja trzecia */

.main-three {
    padding: 120px 0;
    background-color: #f4f4fd;
}

.third-round {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list-container {
    display: flex;
    gap: 24px;
}

.team-list {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) /4);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-nav-container {
    padding: 32px 0;
}

.team-nav {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
    margin-bottom: 8px;
    text-align: center;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-logo {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
    background-color: #404bbf;
}


.social-logo-svg {
    fill: #f4f4fd;
}

.team-description {
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

/* sekcja czwarta */

.main-four {
    padding-top: 120px;
    padding-bottom: 120px;
}

.fourth-round {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.fourth-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.fourth-round-list {
    width: calc((100% - 48px) /3);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.transition-list {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden-four {
    position: relative;
    overflow: hidden;
}

.hidden-text {
    color: #f4f4fd;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
    padding: 40px 32px;
    position: absolute;
    top: 0;
}

.hidden-four:focus .hidden-text,
.hidden-four:hover .hidden-text {
    transform: translateY(0%);
}

.app-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-nav {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
    margin-bottom: 8px;
}

.portfolio-text {
    color: #434455;
}

/* stopka */

.page-end {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.footer-logo-container {
    margin-right: 120px
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
}

.foot {
    line-height: 24px;
    color: #F4F4FD;
    max-width: 264px;
    height: 72px;
}

.text-footer-socials {
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #fff;
    padding-bottom: 16px;
}

.footer-socials {
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 40px;
    height: 40px;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.subscribe {
    padding-left: 80px;
}

.sub-title {
    font-weight: 500;
    color: white;
    margin-bottom: 16px;
}

.sub-form {
    gap: 24px;
    display: flex;
}

.sub-input-email {
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: transparent;
    padding-left: 16px;
    line-height: 2;
}

.sub-button {
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    font-weight: 500;
    background-color: #4d5ae5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: white;
    border: none;
    justify-content: center;
    line-height: 1.5;
}

.sub-icon {
    margin-left: 16px;
    fill: white;
}

/* Modal */

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    top: 24px;
    right: 24px;
    background-color: #e7e9fc;
    fill: #2e2f42;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:active,
.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #fff;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-title {
    text-align: center;
    color: #2e2f42;
    font-weight: 500;
    margin-bottom: 16px;
}

.form-modal {
    display: flex;
    flex-direction: column;
}

.form-title {
    margin-bottom: 8px;
}

.form-title:focus-within .form-icon {
    fill: #4D5AE5;
}

.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    padding: 0;
    display: block;
    margin-bottom: 4px;
}

.form-div-text {
    width: 100%;
    height: 40px;
    position: relative;
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text {
    width: 100%;
    height: 40px;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    outline: transparent;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.form-text:focus {
    border-color: #4d5ae5;
}

.comment-modal {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    outline: transparent;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    text-align: start;
    resize: none;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-modal:focus-within {
    border-color: #4d5ae5;
}


.comment-modal::placeholder {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.form-end {
    margin-bottom: 16px
}

.modal-terms {
    margin-bottom: 24px;
    display: flex;
}

.form-label-privacy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    padding: 0;
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.check-terms {
    cursor: pointer;
}

.check-terms:checked + .form-label-privacy span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.privacy {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.link-privacy {
    color: #4d5ae5;
    text-decoration: underline;
}

.send-button {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

